
<h1>******** Now your results ********</h1>
<h2>Time taken to answer: <%= @time_taken %></h2>
<h2>Your word: <%= @answer %></h2>
<h2>Your translation: <%= @translation %></h2>
<h2>Your score: <%= @score_and_message[0] %></h2>
<h2>Message: <%= @score_and_message[1] %></h2>

<!-- Time Taken to answer: 12.07916
Translation: soulever
Your score: 3.194722666666667
Message: well done
 -->


